.auth-container {
  height: calc(100vh - 52px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.auth-container > button {
  position: absolute;
  top: 0;
}

.auth-container .container {
  width: 500px;
  position: relative;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  background-color: white;
  padding: 25px;
  margin: 13px;
  display: flex;
  flex-direction: column;
}
.auth-container .container > div:not(.top-right-corner) {
  display: flex;
  margin: 15px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}

.auth-container .container label {
  width: 150px;
  display: flex;
}
.auth-container .container input {
  width: calc(100% - 150px);
  display: flex;
  padding: 15px;
  border-color: #4f5d75;
  border-width: 1px;
}
.auth-container .container button {
  width: 150px;
  padding: 15px;
  background-color: #4f5d75;
  color: white;
  margin: 0;
  padding: 0;
  border: none;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
}

.auth-container .container .error {
  margin: 0;
  color: red;
}

.auth-container .top-right-corner {
  position: absolute;
  background-color: #4f5d75;
  color: white;
  top: 0;
  right: 0;
  width: 75px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
