.new-post {
  width: calc(100% - 66px);
  position: relative;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  background-color: white;
  padding: 25px;
  margin: 13px;
  display: flex;
  flex-direction: column;
}

.new-post a {
  text-decoration: none;
}

.new-post.login {
  height: 100px;
}

.new-post textarea {
  height: 150px;
}

.new-post button,
.new-post .button {
  width: 200px;
  background-color: #4f5d75;
  color: white;
  margin: 0;
  padding: 0;
  border: none;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
}
