.post-list {
  width: 75%;
}

.thread .content {
  position: relative;
}

.thread .aside {
  position: absolute;
  right: 0;
  top: 0;
  width: 22%;
}

.thread .aside button {
  text-decoration: none;
  color: black;
}

.thread .aside .create-new-post {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  width: 100%;
  background-color: white;
  height: 50px;
  text-align: center;
  line-height: 50px;
  outline: none;
  border: none;
  cursor: pointer;
}

/* Pagination */

.thread .pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 13px;
}

.thread .previous {
  margin-right: 0;
}

.thread .pagination li a {
  margin-right: 13px;
  height: 30px;
  background-color: transparent;
  border: #4f5d75 solid 1px;
  cursor: pointer;
  color: #4f5d75;
  line-height: 30px;
  user-select: none;
  padding: 3px 13px;
}

.thread .pagination .pagination__link--active a {
  background-color: #4f5d75;
  color: white;
}
.thread .pagination .pagination__link--disabled a {
  border: #b1b1b1 solid 1px;
  color: #b1b1b1;
}
